<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate Articles</title>
    <link rel="shortcut icon" href="../../../images/icon.png" />
  </head>

  <body>
    <main>
      <div class="container">
        <h2>Sentiment Analysis For Articles</h2>
        <section>
          <form id= "form" > 
            <input id= "articleUrl" type= "text" name= "input" value= "" placeholder="Enter article's URL here" />
            <input
              type= "submit"
              class= "btn-submit"
              value= "Submit"/>
          </form>
        </section>

        <section >
          <strong>Evaluation Results:</strong>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
        </section>
      </div>
    </main>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>
  </body>
</html>
