body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;

    #form {
        width: 100%;
        max-width: 590px;
        padding: 10px 0 20px 20px;
        margin: 10% auto;
        border: 1 px solid #dadddd;
        border-radius: 12px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        
        #articleUrl {
            width: 80%;
            margin: auto;
            max-width: 520px;
            padding: 10px 0 10px 20px;
            display: block;
        }

        .btn-submit {
            width: 40%;
            max-width: 250px;
            margin: auto;
            max-width: 520px;
            padding: 10px 0 10px 10px;
            display: block;
            background-color: rgb(230, 123, 1);
            color:beige;
            font-weight: bolder;
            margin-top: 30px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            border: none;
            border-radius: 5px;
        }
    }
  }